@tailwind base;
@tailwind components;
@tailwind utilities;

#player_board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.target{
    border: 1px solid black;
}